.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://bogatyr.club/uploads/posts/2023-06/1687055574_bogatyr-club-p-magicheskaya-bitva-oboi-vkontakte-1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.contacts-items {
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    color: rgb(24, 24, 19);
    max-width: 250px;
    text-align: center;
    line-height: 1;
    padding: 75px 50px; 
    /* Сохранил ваш padding */
    margin-left: 730px;
    margin-top: -200px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgb(255, 255, 255), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2);
    animation: slideUp 2s ease-in-out;
}

.contacts-items p {
    font-size: 20px;
}